/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*, *:before, *:after {
  box-sizing: inherit;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.subtle {
  color: #aaa;
}

.cad-container {
  margin: 5em auto 0;
  position:relative;
  width: 692px;
}

.cad {
  background-color: rgba(245, 222, 179, 0.877);
  padding: 30px;
  position:relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, .07);
  z-index: 1;
}

.cad-body {
  display:inline-block;
  float:left;
  width: 310px;
}

.cad-number {
  margin-top: 15px;
}

.cad-circle {
  border: 1px solid rgb(205, 103, 252);
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  color: #000;
  height: 25px;
  background:white;
  text-align: center;
  width: 25px;
}

.cad-author {
  display: block;
  font-size: 12px;
  letter-spacing: .5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.cad-title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
}

.cad-description {
  display: inline-block;
  font-weight: 300;
  line-height: 22px;
  margin: 10px 0;
}

.cad-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.cad-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.cad-tag {
  float:left;
  margin: 5px 0 0;
}

.card-media {
  float: right;
}

.cad-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, .25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

.form-control:focus{
  box-shadow: none;
}